.container.mt-4
  h2.text-center Agregar Enfermero
  form#agregarEnfermeroForm
    .mb-3
      label.form-label(for='nombre') Nombre
      input#nombre.form-control(type='text' name='nombre' required)
    button.btn.btn-primary(type='submit') Agregar