.container.mt-4
  h2.text-center Agregar Paciente
  form#agregarPacienteForm
    .mb-3
      label.form-label(for='dni') DNI
      input#dni.form-control(type='text' name='dni' required)
    .mb-3
      label.form-label(for='nombre') Nombre
      input#nombre.form-control(type='text' name='nombre' required)
    .mb-3
      label.form-label(for='apellido') Apellido
      input#apellido.form-control(type='text' name='apellido' required)
    button.btn.btn-primary(type='submit') Agregar