.container.mt-4
  h2.text-center Agregar Médico
  form#agregarMedicoForm
    .mb-3
      label.form-label(for='nombre') Nombre
      input#nombre.form-control(type='text' name='nombre' required)
    .mb-3
      label.form-label(for='especialidad') Especialidad
      input#especialidad.form-control(type='text' name='especialidad' required)
    button.btn.btn-primary(type='submit') Agregar