.container.mt-4
  h2.text-center Agregar Cama
  form#agregarCamaForm
    .mb-3
      label.form-label(for='habitacion') Habitación
      input#habitacion.form-control(type='text' name='habitacion' required)
    .mb-3
      label.form-label(for='ala') Ala
      input#ala.form-control(type='text' name='ala' required)
    button.btn.btn-primary(type='submit') Agregar