h1 Estadísticas
ul
  li Pacientes Atendidos: #{stats.pacientesAtendidos}
  li Camas Disponibles: #{stats.camasDisponibles}
  li Pacientes en Espera: #{stats.pacientesEspera}
  li Ambulancias Activas: #{stats.ambulanciasActivas}