.container.mt-4
  h2.text-center Enviar Reclamo
  form#reclamosForm
    .mb-3
      label.form-label(for='mensaje') Mensaje
      textarea#mensaje.form-control(name='mensaje' rows='5' required)
    button.btn.btn-primary(type='submit') Enviar