.container.mt-4
  h2.text-center Recuperar Contraseña
  form#recuperarClaveForm
    .mb-3
      label.form-label(for='email') Correo Electrónico
      input#email.form-control(type='email' name='email' required)
    .mb-3
      label.form-label(for='telefono') Teléfono
      input#telefono.form-control(type='text' name='telefono')
    button.btn.btn-primary(type='submit') Enviar Código