extends ../dashboard/admin/dashboard-admin.pug



block content
  .container.mt-4
    if error
      .alert.alert-danger= error
    h1.text-center Asignar Cama
    form(method='POST' action='/camas/asignaciones' novalidate)
      .mb-3
        label.form-label(for='cama_id') Cama
        select#cama_id.form-control(name='cama_id' required)
          option(value='') Seleccione una cama
          - if (typeof camas !== 'undefined')
            each cama in camas
              option(value=cama.id)= cama.numero
      .mb-3
        label.form-label(for='paciente_id') Paciente
        select#paciente_id.form-control(name='paciente_id' required)
          option(value='') Seleccione un paciente
          - if (typeof pacientes !== 'undefined')
            each paciente in pacientes
              option(value=paciente.id)= paciente.nombre
      button.btn.btn-custom(type='submit') Asignar