extends ../../layouts/dashboard-base

block dashboard-content
  .container-fluid
    h1 Panel Médico
    .row
      .col-lg-12
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary Mis Pacientes
          .card-body
            table.table
              thead
                tr
                  th Nombre
                  th Cama
                  th Acciones
              tbody
                each paciente in pacientes
                  tr
                    td= paciente.nombre
                    td= paciente.cama ? paciente.cama.numero : 'Sin cama'
                    td
                      a.btn.btn-info.btn-sm(href=`/pacientes/${paciente.id}`) Ver