extends layout


block content
    .container.mt-4
      if error
        .alert.alert-danger= error
      if message
        .alert.alert-success= message
      h1 Derivación Externa
      form(method='POST' action='/solicitudes-derivacion/externa' novalidate)
        .mb-3
          label.form-label(for='paciente_id') Paciente
          select#paciente_id.form-control(name='paciente_id' required)
            option(value='') Seleccione un paciente
            - if (typeof pacientes !== 'undefined')
              each paciente in pacientes
                option(value=paciente.id)= paciente.nombre
        .mb-3
          label.form-label(for='hospital_destino_id') Hospital Destino
          select#hospital_destino_id.form-control(name='hospital_destino_id' required)
            option(value='') Seleccione un hospital
            - if (typeof hospitales !== 'undefined')
              each hospital in hospitales
                option(value=hospital.id)= hospital.nombre
        button.btn.btn-custom(type='submit') Enviar Derivación
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
    script(src='/js/script.js')