extends layout.pug

block content
  .container-fluid
    .alert.alert-primary.mt-4
      h4
        i.fas.fa-construction.me-2
        | Sección en Construcción
      p Esta sección está en desarrollo. Pronto estará disponible con todas las funcionalidades especificadas en el menú administrativo.
    .d-flex.justify-content-end
      a.btn.btn-outline-secondary(href='/')
        i.fas.fa-arrow-left.me-2
        | Volver al Dashboard